/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do corpo da página */
body {
  background-color: #1e1e1e;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
}

/* Contêiner principal */
#container {
  max-width: 588px;
  margin: 100px auto 0;
  padding: 0 24px;
  min-height: 100vh;
}

/* Estilos do cabeçalho (header) */
header {
  margin: 100px 30px auto 30px;
  justify-content: center;
  align-items: center;
}

#title-2,
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6366f1;
  font-size: 10px;
  font-weight: 400;
}

#title {
  margin: 21px auto 0;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.input-text {
  display: flex;
  width: 100%;
  margin: 44px auto 0;
}

#new-nota {
  background-color: #27272c;
  border: 1px solid #71717a;
  border-radius: 3px;
  height: 105px;
  text-align: left;
  width: 100%;
  resize: none;
  padding: 10px;
}

#new-nota:enabled {
  color: white;
}

#add-nota span {
  display: inline;
  color: #9ca3af;
  width: 46px;
  font-size: 13px;
}

#add-nota button {
  width: 120px;
  font-size: 16px;
  color: white;
  height: 38px;
  background-color: #6366f1;
  border: 0px;
  font-weight: 500;
  padding: 9px 17px 10px 18px;
  border-radius: 3px;
  cursor: pointer;
}

#add-nota {
  text-align: right;
  margin-top: 23px;
  gap: 20px;
}

/* Estilos do conteúdo principal (main) */
main {
  margin: 51px 30px auto 30px;
  justify-content: center;
  align-items: center;
  min-height: 300px; /* Altura mínima de 300 pixels, ajuste conforme necessário */
}

.card-container {
  margin-top: 51px;
  display: flex;
}
.card {
  background-color: #27272c;
  border-radius: 17px;
  position: relative;
  padding: 20px;
  margin-bottom: 13px;
}
.card p {
  margin: auto;
  color: white;
  min-height: 80px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 11px;
  margin-top: 10px;
}
.card button {
  width: 81px;
  height: 34px;
  background: #1d1d20;
  border-radius: 2px;
  text-align: center;
  color: #bbbbbc;
  border: none;
  cursor: pointer;
}
#nota-editada{
  border-radius: 3px;
  height: 105px;
  text-align: left;
  width: 100%;
  resize: none;
  padding: 10px;
}

/* Estilos do rodapé (footer) */
footer {
  color: #71717a;
  font-size: 13px;
  text-align: center;
  padding: 0 0 10px 0;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 0 0 5px 0;
}

#insta {
  font-size: 20px;
}

/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #title {
    font-size: 80px;
  }
  #container {
    margin: 50px 77px 0;
    max-width: 768px;
  }
  main {
    margin: 51px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  #new-nota {
    height: 70px;
  }

  .card {
    width: calc(50% - 26px);
  }
  .card p{
    min-height: 100px;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
  #title {
    font-size: 80px;
  }
  #container {
    margin: 100px 141px 0;
    max-width: 1024px;
  }
  #new-nota {
    height: 60px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .card {
    width: calc(25% - 26px);
  }
  .card p{
    min-height: 200px;
  }
}
